<h1>Hello Landing Page!</h1>
<h4><%= link_to("Homepage", "index") %></h4>

<%= 1 + 1 %>

<% target = "world" %>
<%= "Hello #{target}!" %>

<% @array.each do |n| %>
  <p><%= "Hello #{n}!" %></p>
<% end %>


<br />

ID: <%= @id %>
<br />

Page: <%= @page %>